 {#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}
<div class="card mb-3 w-100">
  <div class="card-body">
	<h5 class="ctt-card-title card-title d-flex justify-content-between" id="card-title-{{ node.id }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ node.id }}" aria-expanded="false" aria-controls="collapse{{ node.id }}"><div class="inner-card-title">{{ label }}</div><div class="data-collapsed"><i class="fas fa-toggle-off"></i></div><div class="data-expanded"><i class="fas fa-toggle-on"></i></div></h5> 
	<div class="card-text">
	  {# {% if (node.body.summary|length > 3) %}
	  	{{ node.body.summary }}
	  {% else %}
		{% set text = content.body|render|striptags %}
	    {{ text|length > 300 ? text|slice(0, 300)|raw ~ '...' : text|raw }}
	  {% endif %} #}
	  	{% set text = "" %}
	  	{% if content.body.0 is not null %}
			{% set text = content.body|render|striptags %}
		{% endif %}
		
		<div class="row align-items-center h-100">
			<div class="col-3 h1 text-center m-0">
				<div class="row">
					<div class="col-12">{{ content.field_policy_image }}</div>
				</div>
			</div>
			<div class="col-9">
				{{ text|length > 200 ? text|slice(0, 200) ~ '...' : text|raw }}
			</div>
		</div>
	  <div class="collapse wrapper-ctt-data-card mt-2" id="collapse{{ node.id }}"> 
		<div id="view-wrapper-{{ node.id }}" class="ctt-wrapper">
			<div class="contextual-region">
				{{ drupal_contextual_links('entity.view.edit_form:view=policy_targets_goals&display_id=block:') }}
				{{ drupal_view('policy_targets_goals', 'block', node.id) }}
			</div>
		</div>
		<div class="hidden ctt-nid">
			{{ node.id }}
		</div>
	  </div>
	  <div class="info-icon float-right pt-3" id="icons-wrapper-{{ node.id }}">
	  	{% if (content.body|render|striptags|length > 200) %}
	  	<button class="btn btn-sm btn-secondary p-0" style="--bs-btn-border-radius: 50%;" id="card-info-{{ node.id }}" type="button" data-bs-toggle="collapse" data-bs-target="#card-info-collapse-{{ node.id }}" aria-expanded="false" aria-controls="card-info-collapse-{{ node.id }}">
			<i class="fa-solid fa-info w-100 h-100" data-bs-toggle="tooltip" title="View full policy description"></i>
		</button> 
		{% endif %}
		<button class="btn btn-sm btn-secondary p-0" style="--bs-btn-border-radius: 50%;" id="card-rcoe-{{ node.id }}" type="button" data-bs-toggle="collapse" data-bs-target="#card-rcoe-collapse-{{ node.id }}" aria-expanded="false" aria-controls="card-rcoe-collapse-{{ node.id }}">
			<i class="fa-solid fa-compass w-100 h-100"  data-bs-toggle="tooltip" title="View RCOE Actions"></i>
		</button> 
		<a href="/explore_maps?exact_search={{ label.0 }}" target="_blank" class="btn btn-sm btn-secondary p-0" style="--bs-btn-border-radius: 50%;" id="card-datasets-{{ node.id }}">
			<i class="fa-solid fa-layer-group w-100 h-100"  data-bs-toggle="tooltip" title="View policy datasets"></i>
		</a> 
		{% if content.field_reference_link|render %}
			<a href="{{ node.field_reference_link[0].url }}" target="_blank" class="btn btn-sm btn-secondary p-0" style="--bs-btn-border-radius: 50%;" id="card-policy-link-{{ node.id }}">
				<i class="fa-solid fa-up-right-from-square w-100 h-100" data-bs-toggle="tooltip" title="View policy source page (new window)"></i>
			</a> 
		{% endif %}
		{% if content.field_policy_reference_doc|render %}
			<a href="{{ node.field_policy_reference_doc.entity.fileuri }}" target="_blank" class="btn btn-sm btn-secondary p-0" style="--bs-btn-border-radius: 50%;" id="card-policy-download-link-{{ node.id }}">
				<i class="fa-solid fa-cloud-arrow-down w-100 h-100" data-bs-toggle="tooltip" title="Download policy"></i>
			</a> 
		{% endif %}
		<div class="collapse wrapper-ctt-info p-3" id="card-info-collapse-{{ node.id }}" data-bs-parent="#icons-wrapper-{{ node.id }}"> 
			{{content.body}}
		</div>
		<div class="collapse wrapper-ctt-policy p-3" id="card-policy-collapse-{{ node.id }}" data-bs-parent="#icons-wrapper-{{ node.id }}"> 
			{{ content.field_reference_policy }}
		</div>
		<div class="collapse wrapper-ctt-rcoe p-3" id="card-rcoe-collapse-{{ node.id }}" data-bs-parent="#icons-wrapper-{{ node.id }}"> 
			{{content.field_rcoe_action}}
		</div>
		<div class="collapse wrapper-ctt-rcoe p-3" id="card-datasets-collapse-{{ node.id }}" data-bs-parent="#icons-wrapper-{{ node.id }}"> 
			{{content.field_rcoe_action}}
		</div>
	  </div>
	</div>
  </div>
</div> 