{#
/**
 * @file
 * Bootstrap Barrio's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.

 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.top_header: Items for the top header region.
 * - page.top_header_form: Items for the top header form region.
 * - page.header: Items for the header region.
 * - page.header_form: Items for the header form region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * Theme variables:
 * - navbar_top_attributes: Items for the header region.
 * - navbar_attributes: Items for the header region.
 * - content_attributes: Items for the header region.
 * - sidebar_first_attributes: Items for the highlighted region.
 * - sidebar_second_attributes: Items for the primary menu region.
 *
 * @see template_preprocess_page()
 * @see bootstrap_barrio_preprocess_page()
 * @see html.html.twig
 */
#}
{{ attach_library( 'biopama_policy/policy' ) }}

<ul class="nav nav-tabs nav-fill h4 pt-5" id="policy-tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#policies-global" type="button" role="tab" aria-controls="policies-global" aria-selected="true">Global Policies</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#policies-regional" type="button" role="tab" aria-controls="policies-regional" aria-selected="true">Regional Policies</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#policies-national" type="button" role="tab" aria-controls="policies-national" aria-selected="true">National Policies</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#policies-local" type="button" role="tab" aria-controls="policies-local" aria-selected="true">Local Policies</button>
  </li>
</ul>

<div class="tab-content p-4">
  <div id="policies-global" class="tab-pane fade show active" role="tabpanel" aria-labelledby="global-tab" tabindex="0">
	  <nav>
      <div class="nav nav-tabs" id="global-nav-tabs" role="tablist">
        {% for action in rcoe_actions %}
          {% set active = "" %}
          {% if loop.first %}
            {% set active = "active" %}
          {% endif %}
          {% set tab_name = action.name|replace({' ': '', '&': ''}) %}
          {% if tab_name == "TransversalComponent" %}
          {% elseif tab_name in ["Energy", "ClimateandDisasterResilience", "Oceans"]  %}
            <button class="nav-link disabled" id="global-nav-{{tab_name}}-tab" data-bs-toggle="tab" data-bs-target="#global-nav-{{tab_name}}" type="button" role="tab" aria-controls="global-nav-{{tab_name}}" aria-selected="false">
              <div class="d-flex" style="color: #fff !important; font-size:2rem !important;" data-bs-toggle="tooltip" title="{{action.name}} - Action starting in 2025">
                <div class="rounded-circle disabled-circle" style="border: 2px solid #888 !important; width: 3.3rem; height 3rem;">
                  <div class"responsive-circle-content">
                  {% if action.icon %}<i class="{{ action.icon }}"></i>{% endif %}
                  </div>
                </div>
                <div class="rcoe-tab-title">
                  &nbsp;{{action.name}}
                </div>
              </div>
            </button>
          {% else %}
            <button class="nav-link {{active}}" id="global-nav-{{tab_name}}-tab" data-bs-toggle="tab" data-bs-target="#global-nav-{{tab_name}}" type="button" role="tab" aria-controls="global-nav-{{tab_name}}" aria-selected="false">
              <div class="d-flex" style="color: #fff !important; font-size:2rem !important;" data-bs-toggle="tooltip" title="{{action.name}}">
                <div class="rounded-circle" style="border: 2px solid {{ action.color }}; background: {{ action.color }}; width: 3rem; height 3rem;">
                  <div class"responsive-circle-content">
                  {% if action.icon %}<i class="{{ action.icon }}"></i>{% endif %}
                  </div>
                </div>
                <div class="rcoe-tab-title">
                  &nbsp;{{action.name}}
                </div>
              </div>
            </button>
          {% endif %}
        {% endfor %}
      </div>
	  </nav>
	  <div class="tab-content" id="global-nav-tabContent">
	  
      {% for action in rcoe_actions %}
        {% set active = "" %}
          {% if loop.first %}
            {% set active = "show active" %}
          {% endif %}
        {% if action.name == "Transversal Component" %}
        {% else %}
          {% set tab_name = action.name|replace({' ': '', '&': ''}) %}
          <div class="tab-pane fade {{active}}" id="global-nav-{{tab_name}}" role="tabpanel" aria-labelledby="global-nav-{{tab_name}}-tab">
            <!-- Start Cards -->
            <div class="wrapper-cards-sidebar row px-3 pt-3">
              <div class="contextual-region">
                {{ drupal_view('policy_page', 'block', action.name, "1") }}
              </div>
            </div>
            <!-- End Cards --> 
          </div>
        {% endif %}
      {% endfor %}
	  </div>
  </div>
  <div id="policies-regional" class="tab-pane fade" role="tabpanel" aria-labelledby="regional-tab" tabindex="0">
	  <nav>
      <div class="nav nav-tabs" id="regional-nav-tabs" role="tablist">
        {% for action in rcoe_actions %}
          {% set active = "" %}
          {% if loop.first %}
            {% set active = "active" %}
          {% endif %}
          {% set tab_name = action.name|replace({' ': '', '&': ''}) %}
          {% if tab_name == "TransversalComponent" %}
          {% elseif tab_name in ["Energy", "ClimateandDisasterResilience", "Oceans"]  %}
            <button class="nav-link disabled" id="regional-nav-{{tab_name}}-tab" data-bs-toggle="tab" data-bs-target="#regional-nav-{{tab_name}}" type="button" role="tab" aria-controls="regional-nav-{{tab_name}}" aria-selected="false">
              <div class="d-flex" style="color: #fff !important; font-size:2rem !important;" data-bs-toggle="tooltip" title="{{action.name}} - Action starting in 2025">
                <div class="rounded-circle disabled-circle" style="border: 2px solid #888 !important; width: 3.3rem; height 3rem;">
                  <div class"responsive-circle-content">
                  {% if action.icon %}<i class="{{ action.icon }}"></i>{% endif %}
                  </div>
                </div>
                <div class="rcoe-tab-title">
                  &nbsp;{{action.name}}
                </div>
              </div>
            </button>
          {% else %}
            <button class="nav-link {{active}}" id="regional-nav-{{tab_name}}-tab" data-bs-toggle="tab" data-bs-target="#regional-nav-{{tab_name}}" type="button" role="tab" aria-controls="regional-nav-{{tab_name}}" aria-selected="false">
              <div class="d-flex" style="color: #fff !important; font-size:2rem !important;" data-bs-toggle="tooltip" title="{{action.name}}">
                <div class="rounded-circle" style="border: 2px solid {{ action.color }}; background: {{ action.color }}; width: 3rem; height 3rem;">
                  <div class"responsive-circle-content">
                  {% if action.icon %}<i class="{{ action.icon }}"></i>{% endif %}
                  </div>
                </div>
                <div class="rcoe-tab-title">
                  &nbsp;{{action.name}}
                </div>
              </div>
            </button>
          {% endif %}
        {% endfor %}
      </div>
	  </nav>
	  <div class="tab-content" id="regional-nav-tabContent">
	  
      {% for action in rcoe_actions %}
        {% set active = "" %}
          {% if loop.first %}
            {% set active = "show active" %}
          {% endif %}
        {% if action.name == "Transversal Component" %}
        {% else %}
          {% set tab_name = action.name|replace({' ': '', '&': ''}) %}
          <div class="tab-pane fade {{active}}" id="regional-nav-{{tab_name}}" role="tabpanel" aria-labelledby="regional-nav-{{tab_name}}-tab">
            <!-- Start Cards -->
            <div class="wrapper-cards-sidebar row px-3 pt-3">
              <div class="contextual-region">
                {{ drupal_view('policy_page', 'block', action.name, "2") }}
              </div>
            </div>
            <!-- End Cards --> 
          </div>
        {% endif %}
      {% endfor %}
	  </div>
  </div>
  <div id="policies-national" class="tab-pane fade" role="tabpanel" aria-labelledby="national-tab" tabindex="0">
    <nav>
      <div class="nav nav-tabs" id="national-nav-tabs" role="tablist">
        {% for action in rcoe_actions %}
          {% set active = "" %}
          {% if loop.first %}
            {% set active = "active" %}
          {% endif %}
          {% set tab_name = action.name|replace({' ': '', '&': ''}) %}
          {% if tab_name == "TransversalComponent" %}
          {% elseif tab_name in ["Energy", "ClimateandDisasterResilience", "Oceans"]  %}
            <button class="nav-link disabled" id="national-nav-{{tab_name}}-tab" data-bs-toggle="tab" data-bs-target="#national-nav-{{tab_name}}" type="button" role="tab" aria-controls="national-nav-{{tab_name}}" aria-selected="false">
              <div class="d-flex" style="color: #fff !important; font-size:2rem !important;" data-bs-toggle="tooltip" title="{{action.name}} - Action starting in 2025">
                <div class="rounded-circle disabled-circle" style="border: 2px solid #888 !important; width: 3.3rem; height 3rem;">
                  <div class"responsive-circle-content">
                  {% if action.icon %}<i class="{{ action.icon }}"></i>{% endif %}
                  </div>
                </div>
                <div class="rcoe-tab-title">
                  &nbsp;{{action.name}}
                </div>
              </div>
            </button>
          {% else %}
            <button class="nav-link {{active}}" id="national-nav-{{tab_name}}-tab" data-bs-toggle="tab" data-bs-target="#national-nav-{{tab_name}}" type="button" role="tab" aria-controls="national-nav-{{tab_name}}" aria-selected="false">
              <div class="d-flex" style="color: #fff !important; font-size:2rem !important;" data-bs-toggle="tooltip" title="{{action.name}}">
                <div class="rounded-circle" style="border: 2px solid {{ action.color }}; background: {{ action.color }}; width: 3rem; height 3rem;">
                  <div class"responsive-circle-content">
                  {% if action.icon %}<i class="{{ action.icon }}"></i>{% endif %}
                  </div>
                </div>
                <div class="rcoe-tab-title">
                  &nbsp;{{action.name}}
                </div>
              </div>
            </button>
          {% endif %}
        {% endfor %}
      </div>
	  </nav>
	  <div class="tab-content" id="national-nav-tabContent">
	  
      {% for action in rcoe_actions %}
        {% set active = "" %}
          {% if loop.first %}
            {% set active = "show active" %}
          {% endif %}
        {% if action.name == "Transversal Component" %}
        {% else %}
          {% set tab_name = action.name|replace({' ': '', '&': ''}) %}
          <div class="tab-pane fade {{active}}" id="national-nav-{{tab_name}}" role="tabpanel" aria-labelledby="national-nav-{{tab_name}}-tab">
            <!-- Start Cards -->
            <div class="wrapper-cards-sidebar row px-3 pt-3">
              <div class="contextual-region">
                {{ drupal_view('policy_page', 'block', action.name, 12) }}
              </div>
            </div>
            <!-- End Cards --> 
          </div>
        {% endif %}
      {% endfor %}
	  </div>
  </div>
  <div id="policies-local" class="tab-pane fade">
    <nav>
      <div class="nav nav-tabs" id="local-nav-tabs" role="tablist">
        {% for action in rcoe_actions %}
          {% set active = "" %}
          {% if loop.first %}
            {% set active = "active" %}
          {% endif %}
          {% set tab_name = action.name|replace({' ': '', '&': ''}) %}
          {% if tab_name == "TransversalComponent" %}
          {% elseif tab_name in ["Energy", "ClimateandDisasterResilience", "Oceans"]  %}
            <button class="nav-link disabled" id="local-nav-{{tab_name}}-tab" data-bs-toggle="tab" data-bs-target="#local-nav-{{tab_name}}" type="button" role="tab" aria-controls="local-nav-{{tab_name}}" aria-selected="false">
              <div class="d-flex" style="color: #fff !important; font-size:2rem !important;" data-bs-toggle="tooltip" title="{{action.name}} - Action starting in 2025">
                <div class="rounded-circle disabled-circle" style="border: 2px solid #888 !important; width: 3.3rem; height 3rem;">
                  <div class"responsive-circle-content">
                  {% if action.icon %}<i class="{{ action.icon }}"></i>{% endif %}
                  </div>
                </div>
                <div class="rcoe-tab-title">
                  &nbsp;{{action.name}}
                </div>
              </div>
            </button>
          {% else %}
            <button class="nav-link {{active}}" id="local-nav-{{tab_name}}-tab" data-bs-toggle="tab" data-bs-target="#local-nav-{{tab_name}}" type="button" role="tab" aria-controls="local-nav-{{tab_name}}" aria-selected="false">
              <div class="d-flex" style="color: #fff !important; font-size:2rem !important;" data-bs-toggle="tooltip" title="{{action.name}}">
                <div class="rounded-circle" style="border: 2px solid {{ action.color }}; background: {{ action.color }}; width: 3rem; height 3rem;">
                  <div class"responsive-circle-content">
                  {% if action.icon %}<i class="{{ action.icon }}"></i>{% endif %}
                  </div>
                </div>
                <div class="rcoe-tab-title">
                  &nbsp;{{action.name}}
                </div>
              </div>
            </button>
          {% endif %}
        {% endfor %}
      </div>
	  </nav>
	  <div class="tab-content" id="local-nav-tabContent">
	  
      {% for action in rcoe_actions %}
        {% set active = "" %}
          {% if loop.first %}
            {% set active = "show active" %}
          {% endif %}
        {% if action.name == "Transversal Component" %}
        {% else %}
          {% set tab_name = action.name|replace({' ': '', '&': ''}) %}
          <div class="tab-pane fade {{active}}" id="local-nav-{{tab_name}}" role="tabpanel" aria-labelledby="local-nav-{{tab_name}}-tab">
            <!-- Start Cards -->
            <div class="wrapper-cards-sidebar row px-3 pt-3">
              <div class="contextual-region">
                {{ drupal_view('policy_page', 'block', action.name, 3) }}
              </div>
            </div>
            <!-- End Cards --> 
          </div>
        {% endif %}
      {% endfor %}
	  </div>
  </div>
</div>